miniconda3/
Miniconda3-latest-Linux-x86_64.sh
Project/data/**/*.csv
./**/.git
*.term
.cache/
.local/
.ipython/
.jupyter/
.conda/
.npm/
.smc/
.bash_profile
.bashrc
.gitconfig
.jupyter-blobs-v0.db
./**/*.csv
Project/github_sites/
github_sites/
.bash_history